<!-- <hr class="primary"> -->
<div class="footer fp-footer">
  <div class="grid-container padding-top-2">
    <div class="grid-x">
      <div class="medium-4 cell">
        <ul>
          <li>
            <a href="/about">
              About Us
            </a>
          </li>
          <li>
            <a href="/terms-and-conditions">
              Terms and Conditions
            </a>
          </li>
          <li>
            <a href="http://www.dairyaustralia.com.au/privacy" target="new">
              Privacy Policy
            </a>
          </li>
          <!--
        <li>
          <a href="#">
            Contact Us
          </a>
        </li>
  -->
        </ul>
      </div>
      <div class="medium-8 cell medium-text-right">
        <a href="http://agriculture.vic.gov.au/">
          <img src="/assets/images/Ag-vic-logo.png">
        </a>
        &nbsp;&nbsp;
        <a href="http://www.dairyaustralia.com.au/">
          <img src="/assets/images/dairyaustralia.jpg">
        </a>
      </div>
    </div>
  </div>
</div>