<div class="modal-header">
  <ul class="breadcrumbs">
    <li>Change Password</li>
  </ul>
</div>
<div class="grid-x collapse feed-plan-setup-modal-content-row">
  <div class="small-12 cell">
    <p>Fill in the details to change your password.</p>
  </div>
  <div class="cell">
    <form [formGroup]="editPasswordForm">
      <span style="color: red;">{{ error }}</span>
      <table class="fp-table">
        <tbody>
          <tr>
            <th>
              <label for="first-name">CURRENT PASSWORD</label>
            </th>
            <td>
              <input type="password" formControlName="currentPassword" />
              <p>We need your current password for security purposes.</p>
            </td>
          </tr>
          <tr>
            <th>
              <label for="last-name">NEW PASSWORD</label>
            </th>
            <td>
              <input type="password" formControlName="newPassword" />
              <div class="grid-x password-check">
                <div class="cell">
                  <div [class]="strength.color">
                    <div class="progress-meter" [style.width.%]="strength.value">
                      <p class="progress-meter-text">{{strength.desc}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <hr class="primary bottom">
  <div class="cell modal-footer medium-margin-top-1">
    <button class="button radius" (click)="close()">CANCEL</button>
    <button class="button success radius float-right" (click)="save()" [ngClass]="{'hollow':editPasswordForm.invalid}"
      [disabled]="editPasswordForm.invalid">
      UPDATE PASSWORD
    </button>
  </div>
</div>