<section class="grid-container">
  <div class="grid-x medium-margin-top-2">
    <div class="cell small-12">
      <h1>About Dairy Feed Tools</h1>
      <p>
        Dairy Feed Tools is an online solution that has been developed to assist Australian dairy farmers in
        implementing their feeding plan for the coming months.
      </p>
      <p>
        Dairy Feed tools features a large feed library containing comprehensive nutritional specifications allowing
        farmers and service providers to generate a feed budget and a feeding plan and run scenarios to explore impacts
        of change.
      </p>
      <p>
        Plan a dairy herd’s nutrition strategy. Incorporating solid science, users can develop feed plans, create
        nutritionally balanced diets and see the impact that changes to milk price, feed costs and cow numbers make on
        the bottom line.
      </p>
      <p>
        Use it to ensure that your feed inventory remains on track, and are not using more or less of each supplementary
        feed (fodder / grain / other feeds) than you intend. Use it to predict how long a feed will last and ensure that
        you do not run out unexpectedly.
      </p>
      <p>
        Use the tool to help ensure that your supplementary feed usage and expenditure remain close to intended in your
        feeding plan and financial budget. Ensure you never run out of feed or have insufficient storage space to
        receive a load from a feed supplier.
      </p>
      <p>
        Stay in control of herd nutrition with the Dairy Feed Tools
      </p>
      <p>
        For more information about Dairy Feed Tools email <a
          href="mailto:contact@feedtools.com.au">contact@feedtools.com.au</a>.
      </p>
      <p>
        The development of Dairy Feed Tools was co-funded by the <a href="http://agriculture.vic.gov.au/">Agriculture
          Victoria part of the Department of Economic Development, Jobs, Transport, &amp; Resources</a> and <a
          href="http://www.dairyaustralia.com.au/">Dairy Australia</a>.
      </p>
    </div>
  </div>
</section>