<div class="modal-header">
  <ul class="breadcrumbs">
    <li>Help</li>
    <li>Balancing ME, MP and Feed Intake</li>
  </ul>
</div>
<div class="grid-x feed-plan-setup-modal-content-row collapse">
  <div class="small-12 cell full-height-row">
    <p>The three horizontal bars represent energy, protein and dry matter intake.</p>
    <ul>
      <li>
        <b>Metabolisable Energy (ME)</b> supply must be between 95% and 110% of daily requirements to go green
      </li>
      <li>
        <b>Metabolisable Protein (MP)</b> is used to evaluate protein supply. MP refers to the true protein absorbed
        from the small
        intestine and available for metabolism. MP supply must be at least 95% of daily requirements to go green
      </li>
      <li>
        <b>Feed Intake</b> as a percentage of the cow's appetite limit is based on the dry matter intake equation in NRC
        (2001).
        Feed intake of the milking cow must be between 85% and 115% of estimated appetite limit to go green. Feed Intake
        as a percentage of the appetite limit of the early dry cow and transition cow is set at 10kg Dry Matter and
        11.5kg Dry Matter respectively. Feed intake of the early dry cow and transition cow must be between 80% and 120%
        of estimated appetite limit to go green.
      </li>
    </ul>
    <p>
      For further information, refer to the Rumen8 Training Manual & User Guide. This can be downloaded from
      <a href="http://www.rumen8.com.au/resources/Rumen8-User-Guide.pdf" target="_blank">www.rumen8.com.au (3.3MB)</a>
    </p>
  </div>
  <hr class="primary bottom">
  <div class="cell small-12 modal-footer medium-margin-top-1">
    <button class="button radius float-right" (click)="close()">CLOSE</button>
  </div>
</div>