<div class="modal-header">
    <ul class="breadcrumbs">
      <li>Help</li>
      <li>Measuring Silos, Bins, Tanks</li>
    </ul>
  </div>
  <div class="row feed-plan-setup-modal-content-row collapse">
    <div class="small-12 columns full-height-row">
      <p>
        Mark out height of storage facility from bottom, metre by metre, with paint.
        Enter the number of metres from the bottom up to current level of feed.
      </p>
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/silo-coned-bottom/measure.png">
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/silo-flat-bottom/measure.png">
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/tank-cylinder/measure.png">
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/tank-square/measure.png">
    </div>
    <hr class="primary bottom">
    <div class="columns small-12 text-right modal-footer">
      <button class="small radius" ng-click="vm.close()">CLOSE</button>
    </div>
  </div>
  