<div class="modal-header">
    <ul class="breadcrumbs">
      <li>Help</li>
      <li>Measuring Stacks, Bunkers, Pits, Stretchable Bags, Commodity Shed Bays</li>
    </ul>
  </div>
  <div class="row feed-plan-setup-modal-content-row collapse">
    <div class="small-12 columns full-height-row">
      <p>
        Mark out length of storage facility from back, metre by metre, with pegs or paint.
        Enter the number of metres from the back of the stack/bunker/pit/strechable bag/bay forward to feed face.
      </p>
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/bunker/measure.png">
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/stack/measure.png">
      <img style="height:200px;display:inline-block;" src="/assets/images/storage/stretchable-bag/measure.png">
    </div>
    <hr class="primary bottom">
    <div class="columns small-12 text-right modal-footer">
      <button class="small radius" ng-click="vm.close()">CLOSE</button>
    </div>
  </div>
  