<div class="modal-header">
    <ul class="breadcrumbs">
      <li>Help</li>
      <li>Measuring Bales</li>
    </ul>
  </div>
  <div class="row feed-plan-setup-modal-content-row collapse">
    <div class="small-12 columns full-height-row">
      <p>
        The best way to calculate bale weight is using a weighbridge ticket, dividing the total weight of the hay bales loaded on a truck by the number of bales.
        If this is not possible, these tables may be useful (each table assumes hay is 85% DM and silage is 50% DM).
      </p>
      <h2>Hay bales - round</h2>
      <p>Assuming 85% DM</p>
      <table>
        <thead>
          <tr>
            <th>85% DM</th>
            <th>4x4</th>
            <th>4x5</th>
            <th>5x6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lucerne and similar</td>
            <td>300 kg</td>
            <td>400 kg</td>
            <td>700 kg</td>
          </tr>
          <tr>
            <td>Cereal and similar</td>
            <td>300 kg</td>
            <td>380 kg</td>
            <td>650 kg</td>
          </tr>
          <tr>
            <td>Pasture and similar</td>
            <td>280 kg</td>
            <td>350 kg</td>
            <td>650 kg</td>
          </tr>
          <tr>
            <td>Straw and similar</td>
            <td>220 kg</td>
            <td>280 kg</td>
            <td>420 kg</td>
          </tr>
        </tbody>
      </table>
      <h2>Hay bales - square</h2>
      <p>Assuming 85% DM</p>
      <table>
        <thead>
          <tr>
            <th>85% DM</th>
            <th>4x4</th>
            <th>4x5</th>
            <th>5x6</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lucerne and similar</td>
            <td>425 kg</td>
            <td>625 kg</td>
            <td>830 kg</td>
          </tr>
          <tr>
            <td>Cereal and similar</td>
            <td>400 kg</td>
            <td>575 kg</td>
            <td>760 kg</td>
          </tr>
          <tr>
            <td>Pasture and similar</td>
            <td>400 kg</td>
            <td>575 kg</td>
            <td>760 kg</td>
          </tr>
          <tr>
            <td>Straw and similar</td>
            <td>300 kg</td>
            <td>420 kg</td>
            <td>560 kg</td>
          </tr>
        </tbody>
      </table>
      <h2>Silage bales - round</h2>
      <p>Assuming 50% DM</p>
      <table>
        <thead>
          <tr>
            <th>50% DM</th>
            <th>4x4</th>
            <th>4x5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lucerne and similar</td>
            <td>700 kg</td>
            <td>850 kg</td>
          </tr>
          <tr>
            <td>Cereal and similar</td>
            <td>650 kg</td>
            <td>780 kg</td>
          </tr>
          <tr>
            <td>Pasture and similar</td>
            <td>650 kg</td>
            <td>780 kg</td>
          </tr>
        </tbody>
      </table>
      <h2>Silage bales - square</h2>
      <p>Assuming 50% DM</p>
      <table>
        <thead>
          <tr>
            <th>50% DM</th>
            <th>3 x 3 x 5'6"</th>
            <th>4 x 3 x 5'6"</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Silage</td>
            <td>450 kg</td>
            <td>700 kg</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr class="primary bottom">
    <div class="columns small-12 text-right modal-footer">
      <button class="small radius" ng-click="vm.close()">CLOSE</button>
    </div>
  </div>
  