<div class="modal-header">
  <ul class="breadcrumbs">
    <li>Help</li>
    <li>Measuring Wet Density</li>
  </ul>
</div>
<div class="grid-x feed-plan-setup-modal-content-row collapse">
  <div class="small-12 cell full-height-row">
    <p>
      This tool relies on an accurate wet density for the feed being stored.
      The expected wet density range for each feed type is provided as a guide only.
    </p>
    <p>
      Measure the wet density of your feed as follows:
    </p>

    <h2>Silages</h2>
    <p>
      Cut a square or rectangle out of the stack of known dimensions (e.g. 0.2m long X 0.2m wide X 0.2m high) and weigh
      it using a set of accurate scales.
    </p>
    <p>
      Wet density (kg/cubic metre) = Wet weight (kg) divided by Volume (length X width X height in metres)
    </p>

    <h2>Grains and concentrates, By-products</h2>
    <p>
      Fill a one litre container (e.g. milk carton) and weigh it using a set of accurate scales.
    </p>
    <p>
      Wet density (kg/cubic metre) = Wet weight (kg) multiplied by 1000
    </p>
  </div>
  <hr class="primary bottom">
  <div class="cell small-12 modal-footer medium-margin-top-1">
    <button class="button radius float-right" (click)="close()">CLOSE</button>
  </div>
</div>