<!-- 
import { Component, OnInit, Output, EventEmitter } from '@angular/core';
import { InventoryService } from '../_services/inventory.service';
import { FarmService } from '../_services/farm.service';

@Component({
  selector: 'app-record-stocktake',
  templateUrl: './record-stocktake.component.html',
  styleUrls: ['./record-stocktake.component.sass']
})
export class RecordStocktakeComponent implements OnInit {

  @Output() closeModal = new EventEmitter<boolean>();

  constructor(
    public inventory: InventoryService,
    public farm: FarmService
  ) { }

  ngOnInit() {
  }

  save() {
    this.inventory.recordStocktake(this.farm.farmValue.farmId, this.inventory.storageFacilityValue.id, )
  }

  close() {
    this.closeModal.emit(true);
  }
} -->