<div class="modal-header">
  <ul class="breadcrumbs">
    <li>Help</li>
    <li>Average Days Pregnant</li>
  </ul>
</div>
<div class="grid-x feed-plan-setup-modal-content-row collapse">
  <div class="small-12 cell full-height-row">
    <p>
      Accurate average days pregnant is important because it affects cows’ daily energy requirements. Use early
      pregnancy testing.
    </p>
    <p>
      <small><b>Figure:</b> Energy required (MJ ME per day) for a calf with a 40 kg birthweight</small>
    </p>
    <p>
      <img style="max-height:80vh;margin:0 auto;display:block;" src="/assets/images/help-average-days-pregnant.png">
    </p>
    <p class="text-right">
      <small><b>Source:</b> Feeding Dairy Cows’ manual, 2015</small>
    </p>
  </div>
  <hr class="primary bottom">
  <div class="cell small-12 modal-footer medium-margin-top-1">
    <button class="button radius float-right" (click)="close()">CLOSE</button>
  </div>
</div>