<div class="modal-header">
    <ul class="breadcrumbs">
      <li>Help</li>
      <li>Distanced Walked</li>
    </ul>
  </div>
  <div class="grid-x feed-plan-setup-modal-content-row collapse">
    <div class="small-12 cell full-height-row">
      <p>Accurate average distance walked and terrain are important because they affect cows' daily energy requirements.</p>
      <p>How far do cows walk per day?</p>
        <ul>
          <li>
            Cows grazing a large farm (300 Ha) with centrally located dairy will on average walk 4000 metres to and from the dairy plus distance walked while grazing ~5000 metres. Total 9000 metres per day.
          </li>
          <li>
            Cows grazing a medium sized farm (150 Ha) with centrally located dairy will on average walk 3000 metres to and from the dairy plus distance walked while grazing ~4000 metres. Total 7000 metres per day.
          </li>
          <li>
            Cows grazing a smaller sized farm (75 Ha) with centrally located dairy will on average walk 2000 metres to and from the dairy plus distance walked while grazing ~3000 metres. Total 5000 metres per day.
          </li>
        </ul>
        <p class="text-right">
        <small><b>Source:</b> Rumen8 Training Manual & User Guide, 2015</small>
      </p>
    </div>
    <hr class="primary bottom">
    <div class="cell small-12 modal-footer medium-margin-top-1">
      <button class="button radius float-right" (click)="close()">CLOSE</button>
    </div>
  </div>