<div class="modal-header">
    <ul class="breadcrumbs">
      <li>Help</li>
      <li>Average Days In Milk</li>
    </ul>
  </div>
  <div class="grid-x feed-plan-setup-modal-content-row collapse">
    <div class="small-12 cell full-height-row">
      <p>
        Typical changes in cow milk production, liveweight and feed intake during lactation cycle.
      </p>
      <p>
        For early dry cows we assume 0 days in milk and 245 days pregnant. For transition cows, we assume 0 days in milk and 270 days pregnant.
        </p>
      <p>
        <small><b>Figure:</b> The lactation cycle and desired body condition scores</small>
      </p>
      <p>
        <img style="max-height:80vh;margin:0 auto;display:block;" src="/assets/images/help-average-days-in-milk.png">
      </p>
      <p class="text-right">
        <small><b>Adapted from:</b> Elanco 2012</small>
      </p>
    </div>
    <hr class="primary bottom">
    <div class="cell small-12 modal-footer medium-margin-top-1">
      <button class="button radius float-right" (click)="close()">CLOSE</button>
    </div>
  </div>