<div class="row storage-facilities">
  <div class="small-12 columns">
    <h1>Users</h1>
    <p>Manage the farm's user access. These users have access to the farm details, feed plan or feed inventory depending on the access level granted to them.</p>
    <button class="small radius" (click)="inviteFarmAdmin()" tooltip="Add a user who can edit farm details, manage the feed plan and manage feed inventory">ADD FARM ADMINISTRATOR</button>&nbsp;
    <button class="small radius" (click)="inviteFarmNutritionist()" tooltip="Add a user who can manage the farm feed plan">ADD DIET CONSULTANT</button>&nbsp;
    <button class="small radius" (click)="inviteFarmSupplier()" tooltip="Add a user who can access feed inventory to record delivery details only">ADD FEED SUPPLIER</button>&nbsp;
    <div class="panel">
      <table *ngIf="farmUsers.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Access Level</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ngFor="let user of farmUsers">
            <td>{{ user.firstName }} {{user.lastName}}</td>
            <td>{{ getUserRole(user.role) }}</td>
            <td class="text-right">
              <button class="tiny radius alert" *ngIf="farmUsers.length > 1" (click)="removeFarmUser(user)">REMOVE</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>