<div class="modal-header">
  <ul class="breadcrumbs">
    <li>Help</li>
    <li>Formulate Diet</li>
  </ul>
</div>
<div class="grid-x feed-plan-setup-modal-content-row collapse">
  <div class="small-12 cell full-height-row">
    <p>How to formulate a diet for a given month, for a given class of stock</p>
    <p>
      Firstly, if you have a pasture in the diet, click on 'ESTIMATE AVAILABILITY'
    </p>
    <ul>
      <li>
        Enter grazing area and select daily growth rate and utilisation rate to determine tonnes Dry Matter available
        for the month (assuming no change in pasture cover)
      </li>
    </ul>
    <p>
      Then click on 'FORMULATE DIET'
    </p>
    <ul>
      <li>
        For each feed, enter feeding rate (kgs per head per day consumed on a Dry Matter or as-fed basis, as selected on
        the Feed screen when you added the feed)
        <ul>
          <li>
            For a Pasture, note the Surplus/Deficit value – This compares kgs DM per head per day consumed with tonnes
            Dry Matter available for the month.
            <ul>
              <li>
                If your selected feeding rate results in a Deficit (-ve value), you will need to reduce feeding rate
                until the deficit is eliminated
              </li>
              <li>
                If your selected feeding rate results in a substantial Surplus (+ve value), you should review your
                forage plan
              </li>
            </ul>
          </li>
          <li>
            For all feeds other than pastures and other grazed forages, note that a wastage value must be entered. See
            the 'LEARN MORE ABOUT WASTAGE' help box.
          </li>
        </ul>
      </li>
      <li>
        View the 3 horizontal bars in the right hand column. These show % of animal’s daily Metabolisable Energy and
        Metabolisable Protein requirements provided by the diet, and Feed Intake as a % of the animal’s estimated
        appetite limit

      </li>
      <li>
        Below these are the diet’s feed efficiency, nutrient specifications (with warnings if diet is not well
        balanced), cost, income from milk produced and margin over feed cost
      </li>
    </ul>
  </div>
  <hr class="primary bottom">
  <div class="cell small-12 modal-footer medium-margin-top-1">
    <button class="button radius float-right" (click)="close()">CLOSE</button>
  </div>
</div>