.validation-icon {
    background: $warning-color;
    color: white;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1.25rem;
    border-radius: 3px;
  }
